</main>
<footer class="footer has-background-grey-lighter has-text-dark is-hidden-print mt-4" aria-label="Main Footer">
  <div class="container">
    <div class="content has-text-right">
      <p class="has-text-grey-dark">
        <strong>
          <%= configFunctions.getConfigProperty("application.applicationName") %>
        </strong><br />
        Build <%= buildNumber %><br />
        <a class="has-text-grey-dark" href="https://cityssm.github.io/general-licence-manager/docs" target="_blank" rel="nofollow noreferrer">Help</a>
      </p>
    </div>
  </div>
</footer>
<script>
  window.exports = window.exports || {};
  window.exports.licenceAlias = "<%= configFunctions.getConfigProperty("settings.licenceAlias") %>";
  window.exports.licenceAliasPlural = "<%= configFunctions.getConfigProperty("settings.licenceAliasPlural") %>";
  window.exports.licenseeAlias = "<%= configFunctions.getConfigProperty("settings.licenseeAlias") %>";
  window.exports.licenseeAliasPlural = "<%= configFunctions.getConfigProperty("settings.licenseeAliasPlural") %>";
  window.exports.renewalAlias = "<%= configFunctions.getConfigProperty("settings.renewalAlias") %>";
  window.exports.includeBatches = <%= configFunctions.getConfigProperty("settings.includeBatches") %>;
  window.exports.includeReplacementFee = <%= configFunctions.getConfigProperty("settings.includeReplacementFee") %>;
</script>
<script src="<%= urlPrefix %>/lib/cityssm-bulma-js/bulma-js.js"></script>
<script src="<%= urlPrefix %>/lib/cityssm-bulma-webapp-js/dist/cityssm.min.js"></script>
<script>
  cityssm.htmlModalFolder ="<%= urlPrefix %>/html/";
  bulmaJS.init();
</script>
<script src="<%= urlPrefix %>/javascripts/main.js"></script>
<script src="<%= urlPrefix %>/lib/cityssm-bulma-webapp-js/dist/cityssm-theme.min.js" defer></script>
<script src="<%= urlPrefix %>/lib/fa/js/all.min.js" defer></script>
