<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
    <li><a href="#">Admin</a></li>
    <li class="is-active"><a href="#" aria-current="page">
      <span class="icon is-small"><i class="fas fa-cogs" aria-hidden="true"></i></span>
      <span>Licence Categories</span>
    </a></li>
  </ul>
</nav>

<h1 class="title is-1">
  Licence Categories
</h1>

<div class="fixed-container is-fixed-bottom-right mr-4 mb-4 is-hidden-print">
  <button class="button is-circle is-success has-tooltip-left" id="button--addLicenceCategory" data-tooltip="Add a New Category" type="button">
    <i class="fas fa-plus" aria-hidden="true"></i>
    <span class="is-sr-only">Add</span>
  </button>
</div>

<div id="container--licenceCategories"></div>

<%- include('_footerA'); -%>

<script>
  exports.licenceCategories = <%- JSON.stringify(licenceCategories) %>;
  exports.printEJSList = <%- JSON.stringify(printEJSList) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/admin-licenceCategories.min.js"></script>

<%- include('_footerB'); -%>
