<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
    <li><a href="#">Transaction Batches</a></li>
    <li class="is-active"><a href="#" aria-current="page">
      <span class="icon is-small"><i class="fas fa-receipt" aria-hidden="true"></i></span>
      <span>Transaction Batch Builder</span>
    </a></li>
  </ul>
</nav>

<h1 class="title is-1">
  Transaction Batch Builder
</h1>

<div class="message is-small is-info">
  <div class="message-header">Important Notes</div>
  <div class="message-body">
    <p>
      Only those <%= configFunctions.getProperty("settings.licenceAliasPlural").toLowerCase() %>
      marked as issued with outstanding balances can be included in batches.
    </p>
  </div>
</div>

<% if (licences.length === 0) { %>
  <div class="message is-info">
    <p class="message-body">
      There are no <%= configFunctions.getProperty("settings.licenceAliasPlural") %>
      available for batch processing.
    </p>
  </div>
<% } else { %>
  <table class="table is-small is-narrow has-sticky-header has-sticky-column" id="table--transactionBatches">
    <thead>
      <tr>
        <th><%= configFunctions.getProperty("settings.licenceAlias") %></th>
        <th>
          <button class="button is-fullwidth is-primary is-small" id="is-add-batch-button" type="button">
            <span class="icon is-small"><i class="fas fa-plus" aria-hidden="true"></i></span>
            <span>Add Batch</span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const licence of licences) { %>
        <%
          let errorMessage = "";

          if (!licence.bankInstitutionNumber || licence.bankInstitutionNumber === "" || !licence.bankTransitNumber || licence.bankTransitNumber === "" || !licence.bankAccountNumber || licence.bankAccountNumber === "") {
            errorMessage = "Banking information is incomplete on the plan.";
          }
        %>
        <tr data-licence-id="<%= licence.licenceId %>"
            data-licence-number="<%= licence.licenceNumber %>"
            data-outstanding-balance="<%= licence.outstandingBalance %>">
          <th class="<%= errorMessage === "" ? "" : "has-background-danger-light" %>">
            <div class="level is-mobile mb-0">
              <div class="level-left">
                <div class="level-item">
                  <a href="<%= urlPrefix %>/licences/<%= licence.licenceId %>" target="_blank">#<%= licence.licenceNumber %></a>
                </div>
              </div>
              <% if (errorMessage !== "") { %>
                <div class="level-right">
                  <div class="level-item">
                    <span class="icon has-text-danger" data-tooltip="<%= errorMessage %>">
                      <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              <% } %>
            </div>
            <span class="has-text-weight-normal is-size-7">Outstanding Balance: $<%= licence.outstandingBalance.toFixed(2) %></span>
          </th>
          <td class="has-text-right"></td>
        </tr>
      <% } %>
    </tbody>
    <tfoot>
      <tr>
        <th>Batch Totals</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
<% } %>

<%- include('_footerA'); -%>
<script>
  exports.licences = <%- JSON.stringify(licences) %>;
  exports.batchTransactions = <%- JSON.stringify(batchTransactions) %>;
</script>
<% if (licences.length > 0) { %>
  <script src="<%= urlPrefix %>/javascripts/batch-builder.min.js"></script>
<% } %>
<%- include('_footerB'); -%>
