<%- include('_header'); -%>

<div class="level">
  <div class="level-left has-flex-shrink-1">
    <h1 class="title is-1">
      <%= configFunctions.getProperty("application.applicationName") %>
    </h1>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <i class="fas fa-3x fa-fw fa-certificate" aria-hidden="true"></i>
          </div>
          <div class="media-content has-text-black">
            <h2 class="title is-4 is-marginless">
              <a href="<%= urlPrefix %>/licences">
              <%= configFunctions.getProperty("settings.licenceAliasPlural") %></a>
            </h2>
            <p>View and maintain <%= configFunctions.getProperty("settings.licenceAliasPlural").toLowerCase() %>.</p>
          </div>
        </div>
        <% if (user.userProperties.canUpdate) { %>
          <div class="media">
            <div class="media-left">
              <span class="fa-layers fa-fw fa-3x" aria-hidden="true">
                <i class="fas fa-certificate"></i>
                <i class="fas fa-plus has-text-success" data-fa-glow data-fa-transform="shrink-8 down-5 right-6"></i>
              </span>
            </div>
            <div class="media-content has-text-black">
              <h2 class="title is-4 is-marginless">
                <a href="<%= urlPrefix %>/licences/new">Create a New <%= configFunctions.getProperty("settings.licenceAlias") %></a>
              </h2>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <% if (configFunctions.getProperty("settings.includeBatches") && user.userProperties.canUpdate) { %>
      <div class="card mt-5">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <span class="fa-layers fa-fw fa-3x" aria-hidden="true">
                <i class="fas fa-receipt"></i>
                <i class="fas fa-pencil-alt has-text-info" data-fa-glow data-fa-transform="shrink-6 down-4 right-4"></i>
              </span>
            </div>
            <div class="media-content has-text-black">
              <h2 class="title is-4 is-marginless">
                <a href="<%= urlPrefix %>/batches/builder">Transaction Batch Builder</a>
              </h2>
              <p>Build batches of transactions for later processing.</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <span class="fa-layers fa-fw fa-3x" aria-hidden="true">
                <i class="fas fa-receipt"></i>
                <i class="fas fa-check has-text-success" data-fa-glow data-fa-transform="shrink-6 down-4 right-4"></i>
              </span>
            </div>
            <div class="media-content has-text-black">
              <h2 class="title is-4 is-marginless">
                <a href="<%= urlPrefix %>/batches/reconcile">Batch Reconciler</a>
              </h2>
              <p>Mark batch entries as received.</p>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <i class="fas fa-3x fa-fw fa-file" aria-hidden="true"></i>
          </div>
          <div class="media-content has-text-black">
            <h2 class="title is-4 is-marginless">
              <a href="<%= urlPrefix %>/reports">Report Library</a>
            </h2>
            <p>Produce reports and export data.</p>
          </div>
        </div>
      </div>
    </div>
    <% if (user.userProperties.isAdmin) { %>
      <div class="card mt-5">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <i class="fas fa-3x fa-fw fa-cogs" aria-hidden="true"></i>
            </div>
            <div class="media-content has-text-black">
              <h2 class="title is-4 is-marginless">
                <a href="<%= urlPrefix %>/admin/licenceCategories">
                  <%= configFunctions.getProperty("settings.licenceAlias") %> Categories
                </a>
              </h2>
              <p>
                Add new <%= configFunctions.getProperty("settings.licenceAlias").toLowerCase() %> types.
                Maintain existing <%= configFunctions.getProperty("settings.licenceAlias").toLowerCase() %> types.
              </p>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <div class="card mt-5">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <i class="fas fa-3x fa-fw fa-question-circle" aria-hidden="true"></i>
          </div>
          <div class="media-content has-text-black">
            <h2 class="title is-4 is-marginless">
              <a href="https://cityssm.github.io/general-licence-manager/docs" target="_blank" rel="noopener noreferrer">Help Documentation</a>
            </h2>
            <p>Instructions on how to use this application.</p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <i class="fab fa-3x fa-fw fa-github" aria-hidden="true"></i>
          </div>
          <div class="media-content has-text-black">
            <h2 class="title is-4 is-marginless">
              <a href="https://github.com/cityssm/general-licence-manager" target="_blank" rel="noopener noreferrer">
                GitHub
              </a>
            </h2>
            <p>Latest Updates, Issue Tracker, Say Hello.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('_footerA'); -%>
<%- include('_footerB'); -%>
