<%- include('_header'); -%>

<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol>
    <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
    <li><a href="<%= urlPrefix %>/licences">
      <span class="icon is-small"><i class="fas fa-certificate" aria-hidden="true"></i></span>
      <span><%= configFunctions.getProperty("settings.licenceAliasPlural") %></span></a>
    </li>
    <li class="is-active"><a href="#" aria-current="page">
      <%= configFunctions.getProperty("settings.licenceAlias") %> #<%= licence.licenceNumber %>
    </a></li>
  </ol>
</nav>

<div class="level">
  <div class="level-left">
    <div class="level-item">
      <h1 class="title is-1">
        <%= configFunctions.getProperty("settings.licenceAlias") %> #<%= licence.licenceNumber %>
      </h1>
    </div>
  </div>
  <% if (licence.issueDate) { %>
    <div class="level-right is-hidden-print">
      <a class="level-item button is-link" href="<%= urlPrefix %>/licences/<%= licence.licenceId %>/print" target="_blank">
        <span class="icon"><i class="fas fa-print" aria-hidden="true"></i></span>
        <span>Print <%= configFunctions.getProperty("settings.licenceAlias") %></span>
      </a>
    </div>
    <% } %>
</div>

<% if (user.userProperties.canUpdate) { %>
  <div class="fixed-container is-fixed-bottom-right mx-4 my-4 has-text-right is-hidden-print">
    <a class="button is-circle is-primary has-tooltip-left" data-tooltip="Update <%= configFunctions.getProperty("settings.licenceAlias") %>" href="<%= urlPrefix %>/licences/<%= licence.licenceId %>/edit">
      <i class="fas fa-pencil-alt" aria-hidden="true"></i>
      <span class="sr-only">Update <%= configFunctions.getProperty("settings.licenceAlias") %></span>
    </a>
  </div>
<% } %>

<div class="columns">
  <div class="column">
    <div class="panel">
      <div class="panel-block">
        <p>
          <strong id="licenceView--licenceCategory"><%= configFunctions.getProperty("settings.licenceAlias") %> Category</strong><br />
          <span aria-labelledby="licenceView--licenceCategory"><%= licenceCategory.licenceCategory %></span>
        </p>
      </div>
    </div>
  </div>
  <% if (licence.relatedLicences && licence.relatedLicences.length > 0) { %>
    <div class="column is-7">
      <div class="panel">
        <h2 class="panel-heading">
          Related <%= configFunctions.getProperty("settings.licenceAliasPlural") %>
        </h2>
        <% for (const relatedLicence of licence.relatedLicences) { %>
          <div class="panel-block is-block">
            <a class="has-text-weight-bold" href="<%= urlPrefix %>/licences/<%= relatedLicence.licenceId %>" target="_blank"><%= configFunctions.getProperty("settings.licenceAlias") %> #<%= relatedLicence.licenceNumber %></a><br />
            <div class="columns pt-0 is-size-7">
              <div class="column">
                <span data-tooltip="<%= configFunctions.getProperty("settings.licenceAlias") %> Category"><%= relatedLicence.licenceCategory %></span>
              </div>
              <div class="column">
                <span data-tooltip="<%= configFunctions.getProperty("settings.licenseeAlias") %> Name"><%= relatedLicence.licenseeName %></span>
              </div>
              <div class="column">
                <span data-tooltip="Start Date"><%= relatedLicence.startDateString %></span>
                to
                <span data-tooltip="End Date"><%= relatedLicence.endDateString %></span>
              </div>
              <div class="column is-narrow">
                <% if (relatedLicence.issueDate) { %>
                  <span class="tag is-success">Issued</span>
                <% } else { %>
                  <span class="tag is-warning">Pending</span>
                <% } %>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  <% } %>
</div>

<div class="columns">
  <div class="column is-5">
    <div class="panel">
      <h2 class="panel-heading">
        <%= configFunctions.getProperty("settings.licenseeAlias") %> Information
      </h2>
      <div class="panel-block is-block" aria-label="Licensee Name and Address">
        <%= licence.licenseeName %><br />
        <% if (licence.licenseeBusinessName !== "") { %>
          <%= licence.licenseeBusinessName %><br />
        <% } %>
        <%= licence.licenseeAddress1 %><br />
        <% if (licence.licenseeAddress2 !== "") { %>
          <%= licence.licenseeAddress2 %><br />
        <% } %>
        <%= licence.licenseeCity %>, <%= licence.licenseeProvince %><br />
        <%= licence.licenseePostalCode %>
      </div>
      <% if (configFunctions.getProperty("settings.includeBatches") && ((licence.bankInstitutionNumber && licence.bankInstitutionNumber !== "") || (licence.bankTransitNumber && licence.bankTransitNumber !== "") || (licence.bankAccountNumber && licence.bankAccountNumber !== ""))) { %>
        <div class="panel-block">
          <div class="columns">
            <div class="column">
              <strong id="licenceView--bankInstitutionNumber">Institution Number</strong><br />
              <span aria-labelledby="licenceView--bankInstitutionNumber"><%= licence.bankInstitutionNumber %></span>
            </div>
            <div class="column">
              <strong id="licenceView--bankTransitNumber">Transit Number</strong><br />
              <span aria-labelledby="licenceView--bankTransitNumber"><%= licence.bankTransitNumber %></span>
            </div>
            <div class="column">
              <strong id="licenceView--bankAccountNumber">Account Number</strong><br />
              <span aria-labelledby="licenceView--bankAccountNumber"><%= licence.bankAccountNumber %></span>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <div class="column">
    <% if (licence.licenceFields.length > 0 || licence.licenceApprovals.length > 0) { %>
      <div class="columns">
        <% if (licence.licenceFields.length > 0) { %>
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Fields</h2>
              <% for (const licenceField of licence.licenceFields) { %>
                <% const uid = stringFns.getUID(); %>
                <div class="panel-block is-block">
                  <strong id="<%= uid %>"><%= licenceField.licenceField %></strong><br />
                  <span aria-labelledby="<%= uid %>">
                    <% if (licenceField.licenceFieldValue && licenceField.licenceFieldValue !== "") { %>
                      <%= licenceField.licenceFieldValue %>
                    <% } else { %>
                      <span class="has-text-grey">(Blank)</span>
                    <% } %>
                  </span>
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
        <% if (licence.licenceApprovals.length > 0) { %>
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Approvals</h2>
              <% for (const licenceApproval of licence.licenceApprovals) { %>
                <div class="panel-block is-block">
                  <span class="icon">
                    <% if (licenceApproval.isApproved) { %>
                      <i class="far fa-check-square" aria-label="Approved"></i>
                    <% } else { %>
                      <i class="far fa-square" aria-label="Not Approved"></i>
                    <% } %>
                  </span>
                  <span><%= licenceApproval.licenceApproval %></span>
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>

    <div class="panel">
      <h2 class="panel-heading">Status</h2>
      <div class="panel-block is-block">
        <div class="columns">
          <div class="column">
            <p>
              <strong id="licenceView--startDateString">Start Date</strong><br />
              <span aria-labelledby="licenceView--startDateString"><%= licence.startDateString %></span>
            </p>
          </div>
          <div class="column">
            <p>
              <strong id="licenceView--endDateString">End Date</strong><br />
              <span aria-labelledby="licenceView--endDateString"><%= licence.endDateString %></span>
            </p>
          </div>
        </div>
      </div>
      <div class="panel-block is-block">
        <% if (licence.issueDate) { %>
          <p>
            <strong id="licenceView--issueDateString">Issue Date</strong><br />
            <span aria-labelledby="licenceView--issueDateString"><%= licence.issueDateString %></span>
          </p>
        <% } else { %>
          <div class="message is-warning is-small">
            <p class="message-body">
              This <%= configFunctions.getProperty("settings.licenceAlias").toLowerCase() %> has not been issued.
            </p>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
<div class="panel">
  <h2 class="panel-heading">Fees</h2>
  <div class="panel-block is-block">
    <div class="columns">
      <div class="column">

        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th colspan="2">Fee</th>
              <th class="has-text-right">Amount</th>
            </tr>
          </thead>
          <tbody>
            <% if (licence.baseLicenceFee !== licence.licenceFee || licence.licenceAdditionalFees.length > 0) { %>
              <tr>
                <td class="has-text-weight-bold" colspan="2">Base <%= configFunctions.getProperty("settings.licenceAlias") %> Fee</td>
                <td class="has-text-right">$<%= licence.baseLicenceFee ? licence.baseLicenceFee.toFixed(2) : "" %></td>
              </tr>
            <% } %>
            <% for (const additionalFee of licence.licenceAdditionalFees) { %>
              <tr>
                <td class="has-width-1"><i class="fas fa-plus" aria-label="Plus"></i></td>
                <td><%= additionalFee.additionalFee %></td>
                <td class="has-text-right">$<%= additionalFee.additionalFeeAmount.toFixed(2) %></td>
              </tr>
            <% } %>
          </tbody>
          <tfoot>
            <tr>
              <td class="has-text-weight-bold" colspan="2">Total <%= configFunctions.getProperty("settings.licenceAlias") %> Fee</td>
              <td class="has-text-weight-bold has-text-right">$<%= licence.licenceFee ? licence.licenceFee.toFixed(2) : "" %></td>
            </tr>
            <% if (configFunctions.getProperty("settings.includeReplacementFee")) { %>
              <tr>
                <td colspan="2">Replacement Fee</td>
                <td class="has-text-right">$<%= licence.replacementFee ? licence.replacementFee.toFixed(2) : "" %></td>
              </tr>
            <% } %>
          </tfoot>
        </table>
      </div>
      <div class="column is-6">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Transaction</th>
              <th class="has-text-right">Amount</th>
            </tr>
          </thead>
          <tbody>
            <%
              let transactionTotal = 0;
              const currentDate = dateTimeFns.dateToInteger(new Date());
            %>
            <% for (const licenceTransaction of licence.licenceTransactions) { %>
              <% transactionTotal += licenceTransaction.transactionAmount; %>
              <tr data-transaction-index="<%= licenceTransaction.transactionIndex %>">
                <td>
                  <p><%= licenceTransaction.transactionDateString %></p>
                  <% if (licenceTransaction.transactionNote && licenceTransaction.transactionNote !== "") { %>
                    <p class="is-size-7">
                      <%= licenceTransaction.transactionNote %>
                    </p>
                  <% } %>
                  <div class="tags">
                    <% if (currentDate < licenceTransaction.transactionDate) { %>
                      <span class="tag is-warning">Upcoming</span>
                    <% } %>
                    <% if (licenceTransaction.batchDate) { %>
                      <span class="tag is-info">Batch Transaction</span>
                    <% } %>
                    <% if (licenceTransaction.batchDate && (!licenceTransaction.externalReceiptNumber || licenceTransaction.externalReceiptNumber === "")) { %>
                      <span class="tag is-warning">Unconfirmed</span>
                    <% } %>
                  </div>
                </td>
                <td class="has-text-right <%= licenceTransaction.transactionAmount === 0 ? " has-text-danger" : "" %>">
                  $<%= licenceTransaction.transactionAmount.toFixed(2) %>
                </td>
              </tr>
            <% } %>
          </tbody>
          <tfoot>
            <tr>
              <th>Total Transactions</th>
              <th class="has-text-right">$<%= transactionTotal.toFixed(2) %></th>
            </tr>
            <% if (licence.licenceFee - transactionTotal > 0) { %>
              <tr class="has-background-danger-light">
                <th>Outstanding Balance</th>
                <th class="has-text-right">$<%= (licence.licenceFee - transactionTotal).toFixed(2) %></th>
              </tr
            <% } %>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('_footerA'); -%>

<%- include('_footerB'); -%>
