<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
    <li><a href="<%= urlPrefix %>/licences">
      <span class="icon is-small"><i class="fas fa-certificate" aria-hidden="true"></i></span>
      <span><%= configFunctions.getProperty("settings.licenceAliasPlural") %></span></a>
    </li>
    <li class="is-active"><a href="#" aria-current="page">
      <%= configFunctions.getProperty("settings.licenceAlias") %> #<%= licence.licenceNumber %>
    </a></li>
  </ul>
</nav>

<div class="level">
  <div class="level-left">
    <div class="level-item">
      <h1 class="title is-1">
        <%= configFunctions.getProperty("settings.licenceAlias") %> #<%= licence.licenceNumber %>
      </h1>
    </div>
  </div>
  <% if (licence.issueDate) { %>
    <div class="level-right is-hidden-print">
      <a class="level-item button is-link" href="<%= urlPrefix %>/licences/<%= licence.licenceId %>/print" target="_blank">
        <span class="icon"><i class="fas fa-print" aria-hidden="true"></i></span>
        <span>Print <%= configFunctions.getProperty("settings.licenceAlias") %></span>
      </a>
    </div>
    <% } %>
</div>

<% if (user.userProperties.canUpdate) { %>
  <div class="fixed-container is-fixed-bottom-right mx-4 my-4 has-text-right is-hidden-print">
    <a class="button is-circle is-primary has-tooltip-left" data-tooltip="Update <%= configFunctions.getProperty("settings.licenceAlias") %>" href="<%= urlPrefix %>/licences/<%= licence.licenceId %>/edit">
      <i class="fas fa-pencil-alt" aria-hidden="true"></i>
      <span class="sr-only">Update <%= configFunctions.getProperty("settings.licenceAlias") %></span>
    </a>
  </div>
<% } %>

<div class="columns">
  <div class="column">
    <div class="panel">
      <div class="panel-block">
        <p>
          <strong><%= configFunctions.getProperty("settings.licenceAlias") %> Category</strong><br />
          <%= licenceCategory.licenceCategory %>
        </p>
      </div>
    </div>
  </div>
  <% if (licence.relatedLicences && licence.relatedLicences.length > 0) { %>
    <div class="column is-7">
      <div class="panel">
        <h2 class="panel-heading">
          Related <%= configFunctions.getProperty("settings.licenceAliasPlural") %>
        </h2>
        <% for (const relatedLicence of licence.relatedLicences) { %>
          <a class="panel-block is-block" href="<%= urlPrefix %>/licences/<%= relatedLicence.licenceId %>" target="_blank">
            <strong><%= configFunctions.getProperty("settings.licenceAlias") %> #<%= relatedLicence.licenceNumber %></strong><br />
            <div class="columns is-size-7">
              <div class="column">
                <span data-tooltip="<%= configFunctions.getProperty("settings.licenceAlias") %> Category"><%= relatedLicence.licenceCategory %></span>
              </div>
              <div class="column">
                <span data-tooltip="<%= configFunctions.getProperty("settings.licenseeAlias") %> Name"><%= relatedLicence.licenseeName %></span>
              </div>
              <div class="column">
                <span data-tooltip="Start Date"><%= relatedLicence.startDateString %></span>
                to
                <span data-tooltip="End Date"><%= relatedLicence.endDateString %></span>
              </div>
              <div class="column is-narrow">
                <% if (relatedLicence.issueDate) { %>
                  <span class="tag is-success">Issued</span>
                <% } else { %>
                  <span class="tag is-warning">Pending</span>
                <% } %>
              </div>
            </div>
          </a>
        <% } %>
      </div>
    </div>
  <% } %>
</div>

<div class="columns">
  <div class="column is-5">
    <div class="panel">
      <h2 class="panel-heading">
        <%= configFunctions.getProperty("settings.licenseeAlias") %> Information
      </h2>
      <div class="panel-block is-block">
        <%= licence.licenseeName %><br />
        <% if (licence.licenseeBusinessName !== "") { %>
          <%= licence.licenseeBusinessName %><br />
        <% } %>
        <%= licence.licenseeAddress1 %><br />
        <% if (licence.licenseeAddress2 !== "") { %>
          <%= licence.licenseeAddress2 %><br />
        <% } %>
        <%= licence.licenseeCity %>, <%= licence.licenseeProvince %><br />
        <%= licence.licenseePostalCode %>
      </div>
      <% if (configFunctions.getProperty("settings.includeBatches") && ((licence.bankInstitutionNumber && licence.bankInstitutionNumber !== "") || (licence.bankTransitNumber && licence.bankTransitNumber !== "") || (licence.bankAccountNumber && licence.bankAccountNumber !== ""))) { %>
        <div class="panel-block">
          <div class="columns">
            <div class="column">
              <strong>Institution Number</strong><br />
              <%= licence.bankInstitutionNumber %>
            </div>
            <div class="column">
              <strong>Transit Number</strong><br />
              <%= licence.bankTransitNumber %>
            </div>
            <div class="column">
              <strong>Account Number</strong><br />
              <%= licence.bankAccountNumber %>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <div class="column">
    <% if (licence.licenceFields.length > 0 || licence.licenceApprovals.length > 0) { %>
      <div class="columns">
        <% if (licence.licenceFields.length > 0) { %>
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Fields</h2>
              <% for (const licenceField of licence.licenceFields) { %>
                <div class="panel-block is-block">
                  <strong><%= licenceField.licenceField %></strong><br />
                  <%= licenceField.licenceFieldValue %>
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
        <% if (licence.licenceApprovals.length > 0) { %>
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Approvals</h2>
              <% for (const licenceApproval of licence.licenceApprovals) { %>
                <div class="panel-block is-block">
                  <span class="icon">
                    <% if (licenceApproval.isApproved) { %>
                      <i class="far fa-check-square" aria-label="Approved"></i>
                    <% } else { %>
                      <i class="far fa-square" aria-label="Not Approved"></i>
                    <% } %>
                  </span>
                  <span><%= licenceApproval.licenceApproval %></span>
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>

    <div class="panel">
      <h2 class="panel-heading">Status</h2>
      <div class="panel-block is-block">
        <div class="columns">
          <div class="column">
            <p>
              <strong>Start Date</strong><br />
              <%= licence.startDateString %>
            </p>
          </div>
          <div class="column">
            <p>
              <strong>End Date</strong><br />
              <%= licence.endDateString %>
            </p>
          </div>
        </div>
      </div>
      <div class="panel-block is-block">
        <% if (licence.issueDate) { %>
          <p>
            <strong>Issue Date</strong><br />
            <%= licence.issueDateString %>
          </p>
        <% } else { %>
          <div class="message is-warning is-small">
            <p class="message-body">
              This <%= configFunctions.getProperty("settings.licenceAlias").toLowerCase() %> has not been issued.
            </p>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
<div class="panel">
  <h2 class="panel-heading">Fees</h2>
  <div class="panel-block is-block">
    <div class="columns">
      <div class="column">
        <strong><%= configFunctions.getProperty("settings.licenceAlias") %> Fee</strong><br />
        $<%= licence.licenceFee ? licence.licenceFee.toFixed(2) : "" %>
      </div>
      <div class="column">
        <strong>Replacement Fee</strong><br />
        $<%= licence.replacementFee ? licence.replacementFee.toFixed(2) : "" %>
      </div>
      <div class="column is-6">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Transaction</th>
              <th class="has-text-right">Amount</th>
            </tr>
          </thead>
          <tbody>
            <%
              let transactionTotal = 0;
              const currentDate = dateTimeFns.dateToInteger(new Date());
            %>
            <% for (const licenceTransaction of licence.licenceTransactions) { %>
              <% transactionTotal += licenceTransaction.transactionAmount; %>
              <tr data-transaction-index="<%= licenceTransaction.transactionIndex %>">
                <td>
                  <%= licenceTransaction.transactionDateString %><br />
                  <div class="tags">
                    <% if (currentDate < licenceTransaction.transactionDate) { %>
                      <span class="tag is-warning">Upcoming</span>
                    <% } %>
                    <% if (licenceTransaction.batchDate) { %>
                      <span class="tag is-info">Batch Transaction</span>
                    <% } %>
                    <% if (licenceTransaction.batchDate && (!licenceTransaction.externalReceiptNumber || licenceTransaction.externalReceiptNumber === "")) { %>
                      <span class="tag is-warning">Unconfirmed</span>
                    <% } %>
                  </div>
                </td>
                <td class="has-text-right">
                  $<%= licenceTransaction.transactionAmount.toFixed(2) %>
                </td>
              </tr>
            <% } %>
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
              <th class="has-text-right">$<%= transactionTotal.toFixed(2) %></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('_footerA'); -%>

<%- include('_footerB'); -%>
