<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
    <li><a href="<%= urlPrefix %>/licences">
      <span class="icon is-small"><i class="fas fa-certificate" aria-hidden="true"></i></span>
      <span><%= configFunctions.getProperty("settings.licenceAliasPlural") %></span></a>
    </li>
    <% if (isCreate) { %>
      <li class="is-active">
        <a href="#" aria-current="page">
          Create a New <%= configFunctions.getProperty("settings.licenceAlias") %>
        </a>
      </li>
    <% } else { %>
      <li>
        <a href="<%= urlPrefix %>/licences/<%= licence.licenceId %>">
          <%= configFunctions.getProperty("settings.licenceAlias") %> #<%= licence.licenceNumber %>
        </a>
      </li>
      <li class="is-active">
        <a href="#" aria-current="page">
          Update
        </a>
      </li>
    <% } %>
  </ul>
</nav>

<h1 class="title is-1">
  <%= isCreate ? "Create a New " + configFunctions.getProperty("settings.licenceAlias") : configFunctions.getProperty("settings.licenceAlias") + " #" + licence.licenceNumber %>
</h1>

<form id="form--licenceEdit">
  <input id="licenceEdit--licenceId" name="licenceId" type="hidden" value="<%= licence.licenceId %>" />

  <div class="columns">
    <div class="column">
      <div class="panel">
        <div class="panel-block is-block">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label" for="licenceEdit--licenceCategoryKey">
                  <%= configFunctions.getProperty("settings.licenceAlias") %> Category
                </label>
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select
                      id="licenceEdit--licenceCategoryKey" name="licenceCategoryKey"
                      <%= isCreate ? "" : "disabled" %>
                      required>
                      <% if (isCreate) { %>
                        <option
                          data-licence-length-function=""
                          data-licence-length-years="0"
                          data-licence-length-months="0"
                          data-licence-length-days="0"
                          value="">
                          (Select a Category)
                        </option>
                      <% } %>
                      <% for (const licenceCategory of licenceCategories) { %>
                        <option
                          data-licence-length-function="<%= licenceCategory.licenceLengthFunction %>"
                          data-licence-length-years="<%= licenceCategory.licenceLengthYears %>"
                          data-licence-length-months="<%= licenceCategory.licenceLengthMonths %>"
                          data-licence-length-days="<%= licenceCategory.licenceLengthDays %>"
                          value="<%= licenceCategory.licenceCategoryKey %>"
                          <%= (licence.licenceCategoryKey === licenceCategory.licenceCategoryKey) ? "selected" : "" %>>
                          <%= licenceCategory.licenceCategory %>
                        </option>
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <label class="label" for="licenceEdit--licenceNumber">
                <%= configFunctions.getProperty("settings.licenceAlias") %> Number
              </label>
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input" id="licenceEdit--licenceNumber" name="licenceNumber"
                    type="text"
                    value="<%= licence.licenceNumber %>"
                    <%= isCreate ? "" : "required" %>
                    maxlength="20" readonly />
                </div>
                <div class="control">
                  <button class="button has-tooltip-left is-unlock-button" data-tooltip="Unlock Field" type="button">
                    <i class="fas fa-unlock" aria-hidden="true"></i>
                    <span class="is-sr-only">Unlock <%= configFunctions.getProperty("settings.licenceAlias") %> Number Field</span>
                  </button>
                </div>
              </div>
              <% if (isCreate) { %>
                <p class="help">Leave the <%= configFunctions.getProperty("settings.licenceAlias") %> Number blank to generate on save.</p>
              <% } %>
            </div>
          </div>
          <div class="facheck">
            <input id="licenceEdit--isRenewal" name="isRenewal" type="checkbox" <%= licence.isRenewal ? "checked" : "" %> />
            <label for="licenceEdit--isRenewal">
              <%= configFunctions.getProperty("settings.licenceAlias") %>
              is
              <%= configFunctions.getProperty("settings.renewalAlias") %>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <% if (isCreate && relatedLicence) { %>
        <div class="message is-info">
          <div class="message-body">
            <input name="relatedLicenceId" type="hidden" value="<%= relatedLicence.licenceId %>" />
            <p>
              This new <%= configFunctions.getProperty("settings.licenceAlias").toLowerCase() %> will related to
              <%= configFunctions.getProperty("settings.licenceAlias").toLowerCase() %> #<%= relatedLicence.licenceNumber %>.
            </p>
            <p class="mt-2 has-text-right">
              <button class="button is-info" id="is-cancel-related-licence-id-button" type="button">
                <span class="icon is-small">
                  <i class="fas fa-times" aria-hidden="true"></i>
                </span>
                <span>Cancel Relationship</span>
              </button>
            </p>
          </div>
        </div>
      <% } else if (!isCreate) { %>

      <% } %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="panel">
        <h2 class="panel-heading">
          <%= configFunctions.getProperty("settings.licenseeAlias") %> Information
        </h2>
        <div class="panel-block is-block">
          <div class="field">
            <label class="label" for="licenceEdit--licenseeName"><%= configFunctions.getProperty("settings.licenseeAlias") %> Name</label>
            <div class="control">
              <input class="input" id="licenceEdit--licenseeName" name="licenseeName" type="text" value="<%= licence.licenseeName %>" maxlength="100" required />
            </div>
          </div>
          <div class="field">
            <label class="label" for="licenceEdit--licenseeBusinessName">Business Name</label>
            <div class="control">
              <input class="input" id="licenceEdit--licenseeBusinessName" name="licenseeBusinessName" type="text" value="<%= licence.licenseeBusinessName %>" maxlength="100" />
            </div>
          </div>
          <div class="field">
            <label class="label" for="licenceEdit--licenseeAddress1">Address</label>
            <div class="control">
              <input class="input" id="licenceEdit--licenseeAddress1" name="licenseeAddress1" type="text" value="<%= licence.licenseeAddress1 %>" placeholder="Line 1" maxlength="50" />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input" id="licenceEdit--licenseeAddress2" name="licenseeAddress2" type="text" value="<%= licence.licenseeAddress2 %>" placeholder="Line 2" maxlength="50" aria-label="Address Line 2" />
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label" for="licenceEdit--licenseeCity">City</label>
                <div class="control">
                  <input class="input" id="licenceEdit--licenseeCity" name="licenseeCity" type="text" value="<%= licence.licenseeCity %>" maxlength="20" />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label" for="licenceEdit--licenseeProvince">Province</label>
                <div class="control">
                  <input class="input" id="licenceEdit--licenseeProvince" name="licenseeProvince" type="text" value="<%= licence.licenseeProvince %>" maxlength="2" />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label" for="licenceEdit--licenseePostalCode">Postal Code</label>
                <div class="control">
                  <input class="input" id="licenceEdit--licenseePostalCode" name="licenseePostalCode" type="text" value="<%= licence.licenseePostalCode %>" maxlength="7" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-block is-block">
          <div class="message is-info is-small">
            <p class="message-body">
              Banking information is only necessary for setting up preauthorized payments.
            </p>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label" for="licenceEdit--bankInstitutionNumber">Institution Number</label>
                <div class="control">
                  <input class="input" id="licenceEdit--bankInstitutionNumber" name="bankInstitutionNumber" type="text" value="<%= licence.bankInstitutionNumber %>" inputmode="numeric" pattern="\d{3}" maxlength="3" />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label" for="licenceEdit--bankTransitNumber">Transit Number</label>
                <div class="control">
                  <input class="input" id="licenceEdit--bankTransitNumber" name="bankTransitNumber" type="text" value="<%= licence.bankTransitNumber %>" inputmode="numeric" pattern="\d{5}" maxlength="5" />
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input" id="licenceEdit--bankName" type="text" value="<%= licence.bankName %>" readonly />
            </div>
          </div>
          <div class="field">
            <label class="label" for="licenceEdit--bankAccountNumber">Account Number</label>
            <div class="control">
              <input class="input" id="licenceEdit--bankAccountNumber" name="bankAccountNumber" type="text" value="<%= licence.bankAccountNumber %>" inputmode="numeric" pattern="^\d+$" maxlength="10" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="panel <%= isCreate || licence.licenceFields.length === 0 ? "is-hidden" : "" %>" id="container--licenceFields">
        <% if (!isCreate && licence.licenceFields.length > 0) { %>
          <h2 class="panel-heading">Fields</h2>
          <% let licenceFieldKeys = []; %>
          <% for (const licenceField of licence.licenceFields) { %>
            <% licenceFieldKeys.push(licenceField.licenceFieldKey); %>
            <div class="panel-block is-block">
              <div class="field">
                <label class="label" for="licenceFieldEdit--<%= licenceField.licenceFieldKey %>">
                  <%= licenceField.licenceField %>
                </label>
                <div class="control">
                  <input class="input"
                    id="licenceFieldEdit--<%= licenceField.licenceFieldKey %>"
                    name="field--<%= licenceField.licenceFieldKey %>"
                    type="text"
                    value="<%= licenceField.licenceFieldValue %>"
                    minlength="<%= licenceField.minimumLength %>"
                    maxlength="<%= licenceField.maximumLength %>"
                    <% if (licenceField.pattern !== "") { %>pattern="<%= licenceField.pattern %>"<% } %>
                    <%= licenceField.isRequired ? "required" : "" %>
                    />
                </div>
                <% if (licenceField.licenceFieldDescription !== "") { %>
                  <p class="help">
                    <%= licenceField.licenceFieldDescription %>
                  </p>
                <% } %>
              </div>
            </div>
          <% } %>
          <input name="licenceFieldKeys" type="hidden" value="<%= licenceFieldKeys.join(",") %>" />
        <% } %>
      </div>

      <div class="panel <%= isCreate || licence.licenceApprovals.length === 0 ? "is-hidden" : "" %>" id="container--licenceApprovals">
        <% if (!isCreate && licence.licenceApprovals.length > 0) { %>
          <h2 class="panel-heading">Approvals</h2>
          <% let licenceApprovalKeys = []; %>
          <% for (const licenceApproval of licence.licenceApprovals) { %>
            <% licenceApprovalKeys.push(licenceApproval.licenceApprovalKey); %>
            <div class="panel-block is-block">
              <div class="facheck">
                <input id="licenceApprovalEdit--<%=licenceApproval.licenceApprovalKey %>"
                  name="approval--<%=licenceApproval.licenceApprovalKey %>"
                  data-is-required-for-new="<%= licenceApproval.isRequiredForNew ? "true" : "false" %>"
                  data-is-required-for-renewal="<%= licenceApproval.isRequiredForRenewal ? "true" : "false" %>"
                  type="checkbox"
                  <%= licenceApproval.isApproved ? "checked" : "" %>
                  <%= (licence.isRenewal && licenceApproval.isRequiredForRenewal) || (!licence.isRenewal && licenceApproval.isRequiredForNew) ? "required" : "" %>
                  />
                <label for="licenceApprovalEdit--<%=licenceApproval.licenceApprovalKey %>"><%= licenceApproval.licenceApproval %></label>
              </div>
              <% if (licenceApproval.licenceApprovalDescription !== "") { %>
                <p class="help">
                  <%= licenceApproval.licenceApprovalDescription %>
                </p>
              <% } %>
            </div>
          <% } %>
        <% } %>
      </div>

      <div class="panel">
        <h2 class="panel-heading">Status</h2>
        <div class="panel-block is-block">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label" for="licenceEdit--startDateString">Start Date</label>
                <div class="control">
                  <input class="input" id="licenceEdit--startDateString" name="startDateString" type="date" value="<%= licence.startDateString %>" required />
                </div>
              </div>
            </div>
            <div class="column">
              <label class="label" for="licenceEdit--endDateString">End Date</label>
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input" id="licenceEdit--endDateString" name="endDateString" type="date" value="<%= licence.endDateString %>" readonly required />
                </div>
                <div class="control">
                  <button class="button has-tooltip-left is-unlock-button" data-tooltip="Unlock Field" type="button">
                    <i class="fas fa-unlock" aria-hidden="true"></i>
                    <span class="is-sr-only">Unlock End Date Field</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if (!isCreate) { %>
          <div class="panel-block is-block">
            <% if (licence.issueDate) { %>
              <p>
                <strong>Issue Date</strong><br />
                <%= licence.issueDateString %>
              </p>
            <% } else { %>
              <div class="message is-warning is-small">
                <p class="message-body">
                  This <%= configFunctions.getProperty("settings.licenceAlias").toLowerCase() %> has not been issued.
                </p>
              </div>
            <% } %>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">
      <div class="level is-mobile">
        <div class="level-left">
          <h2 class="level-item has-text-weight-bold">Fees</h2>
        </div>
        <% if (!isCreate) { %>
          <div class="level-right">
            <button class="level-item button is-success is-small" id="button--addTransaction" type="button">
              <span class="icon"><i class="fas fa-plus" aria-hidden="true"></i></span>
              <span>Add Transaction</span>
            </button>
          </div>
        <% } %>
      </div>
    </div>
    <div class="panel-block is-block">
      <div class="columns">
        <div class="column">
          <label class="label" for="licenceEdit--licenceFee">
            <%= configFunctions.getProperty("settings.licenceAlias") %> Fee
          </label>
          <div class="field has-addons">
            <div class="control">
              <span class="button is-static">$</span>
            </div>
            <div class="control is-expanded">
              <input class="input has-text-right" id="licenceEdit--licenceFee" name="licenceFee" type="text" value="<%= licence.licenceFee ? licence.licenceFee.toFixed(2) : "" %>" readonly required />
            </div>
          </div>
        </div>
        <div class="column">
          <label class="label" for="licenceEdit--replacementFee">Replacement Fee</label>
          <div class="field has-addons">
            <div class="control">
              <span class="button is-static">$</span>
            </div>
            <div class="control is-expanded">
              <input class="input has-text-right" id="licenceEdit--replacementFee" name="replacementFee" type="text" value="<%= licence.replacementFee ? licence.replacementFee.toFixed(2) : "" %>" readonly required />
            </div>
          </div>
        </div>
        <div class="column is-6">
          <% if (isCreate) { %>
            <div class="message is-info is-small">
              <p class="message-body">Transaction tracking will become available after saving.</p>
            </div>
          <% } else { %>
            <h2 class="title is-3">Transaction History</h2>
            <table class="table is-fullwidth" id="table--licenceTransactions">
              <thead>
                <tr>
                  <th>Transaction</th>
                  <th class="has-text-right">Amount</th>
                  <th class="has-width-1"></th>
                </tr>
              </thead>
              <tbody>
                <%
                  let transactionTotal = 0;
                  const currentDate = dateTimeFns.dateToInteger(new Date());
                %>
                <% for (const licenceTransaction of licence.licenceTransactions) { %>
                  <% transactionTotal += licenceTransaction.transactionAmount; %>
                  <tr data-transaction-index="<%= licenceTransaction.transactionIndex %>">
                    <td>
                      <%= licenceTransaction.transactionDateString %><br />
                      <div class="tags">
                        <% if (currentDate < licenceTransaction.transactionDate) { %>
                          <span class="tag is-warning">Upcoming</span>
                        <% } %>
                        <% if (licenceTransaction.batchDate) { %>
                          <span class="tag is-info">Batch Transaction</span>
                        <% } %>
                        <% if (licenceTransaction.batchDate && (!licenceTransaction.externalReceiptNumber || licenceTransaction.externalReceiptNumber === "")) { %>
                          <span class="tag is-warning">Unconfirmed</span>
                        <% } %>
                      </div>
                    </td>
                    <td class="has-text-right">
                      $<%= licenceTransaction.transactionAmount.toFixed(2) %>
                    </td>
                    <td>
                      <button class="button is-small is-danger is-inverted is-delete-transaction-button" type="button">
                        <i class="fas fa-trash" aria-label="Delete Transaction"></i>
                      </button>
                    </td>
                  </tr>
                <% } %>
              </tbody>
              <tfoot>
                <tr>
                  <th>Total</th>
                  <th class="has-text-right">$<%= transactionTotal.toFixed(2) %></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <%
    const submitButtonText = (isCreate ? "Create" : "Update") + " " + configFunctions.getProperty("settings.licenceAlias");
  %>
  <div class="fixed-container is-fixed-bottom-right mx-4 my-4 has-text-right is-hidden-print">
    <button class="button is-circle is-success has-tooltip-left" data-tooltip="<%= submitButtonText %>" type="submit">
      <i class="fas fa-save" aria-hidden="true"></i>
      <span class="sr-only"><%= submitButtonText %></span>
    </button>
  </div>
  <div class="has-text-right">
    <button class="button is-success" type="submit">
      <span class="icon"><i class="fas fa-save" aria-hidden="true"></i></span>
      <span><%= submitButtonText %></span>
    </button>
    <% if (!isCreate) { %>
      <% if (licence.issueDate) { %>
        <a class="button is-link" href="<%= urlPrefix %>/licences/<%= licence.licenceId %>/print" target="_blank">
          <span class="icon"><i class="fas fa-print" aria-hidden="true"></i></span>
          <span>Print <%= configFunctions.getProperty("settings.licenceAlias") %></span>
        </a>
      <% } else { %>
        <button class="button is-primary" id="is-issue-licence-button" type="button">
          Issue <%= configFunctions.getProperty("settings.licenceAlias") %>
        </button>
      <% } %>
      <div class="dropdown is-right has-text-left">
        <div class="dropdown-trigger">
          <button class="button" type="button">
            <span>More Options</span>
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-content">
            <% if (licence.issueDate) { %>
              <a class="dropdown-item" id="is-renew-licence-button" role="button" href="#">
                <span class="icon is-small"><i class="fas fa-stamp" aria-hidden="true"></i></span>
                Renew <%= configFunctions.getProperty("settings.licenceAlias") %>
              </a>
            <% } %>
            <a class="dropdown-item" id="is-delete-licence-button" role="button" href="#">
              <span class="icon is-small"><i class="fas fa-trash-alt has-text-danger" aria-hidden="true"></i></span>
              Delete <%= configFunctions.getProperty("settings.licenceAlias") %>
            </a>
          </div>
        </div>
      </div>
    <% } %>
    <% if (isCreate) { %>
      <a class="button is-danger is-inverted" href="<%= urlPrefix %>/licences">
        Cancel
      </a>
    <% } %>
  </div>
</form>


<%- include('_footerA'); -%>

<% if (!isCreate) { %>
  <script>
    exports.licenceCategory = <%- JSON.stringify(licenceCategories[0]) %>;
  </script>
<% } %>
<script src="<%= urlPrefix %>/javascripts/licence-edit.min.js"></script>

<%- include('_footerB'); -%>
