<%- include('_header'); -%>

<div class="columns is-variable is-4-mobile is-4-tablet is-block-print" id="is-site-layout">

  <div class="column is-block-print">
    <nav class="breadcrumb" aria-label="Breadcrumb">
      <ol>
        <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
        <li><a href="<%= urlPrefix %>/licences">
          <span class="icon is-small"><i class="fas fa-certificate" aria-hidden="true"></i></span>
          <span><%= configFunctions.getProperty("settings.licenceAliasPlural") %></span></a>
        </li>
        <li class="is-active"><a href="#" aria-current="page">
          <%= configFunctions.getProperty("settings.licenceAlias") %> Category Summary
        </a></li>
      </ol>
    </nav>

    <div class="columns">
      <div class="column">
        <h1 class="title is-1">
          <%= configFunctions.getProperty("settings.licenceAlias") %> Category Summary
        </h1>

        <div class="box">
          <form id="form--filters" role="search" aria-label="<%= configFunctions.getProperty("settings.licenceAlias") %> Category Filters">
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label" for="filter--licenceCategoryKey"><%= configFunctions.getProperty("settings.licenceAlias") %> Category</label>
                  <div class="control has-icons-left">
                    <div class="select is-fullwidth">
                      <select id="filter--licenceCategoryKey" name="licenceCategoryKey">
                        <option value="">(All Categories)</option>
                        <% for (const licenceCategory of licenceCategories) { %>
                          <option value="<%= licenceCategory.licenceCategoryKey %>">
                            <%= licenceCategory.licenceCategory %>
                          </option>
                        <% } %>
                      </select>
                    </div>
                    <span class="icon is-small is-left">
                      <i class="fas fa-filter" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
                <label class="label" for="filter--startDateStringMin">Start Date</label>
                <div class="field has-addons">
                  <% const currentYear = new Date().getFullYear(); %>
                  <div class="control">
                    <span class="button is-static">From</span>
                  </div>
                  <div class="control is-expanded">
                    <input class="input" id="filter--startDateStringMin" name="startDateStringMin" type="date"
                      min="<%= licenceStats.startYearMin %>-01-01"
                      max="<%= currentYear %>-12-31"
                      value="<%= currentYear %>-01-01"
                      required />
                  </div>
                  <div class="control">
                    <span class="button is-static">to</span>
                  </div>
                  <div class="control is-expanded">
                    <input class="input" id="filter--startDateStringMax" name="startDateStringMax" type="date"
                      min="<%= licenceStats.startYearMin %>-01-01"
                      max="<%= currentYear %>-12-31"
                      value="<%= currentYear %>-12-31"
                      aria-label="Start Date End"
                      required />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div id="container--licenceCategorySummary" aria-label="<%= configFunctions.getProperty("settings.licenceAlias") %> Category Search Results"></div>
      </div>
      <div class="column is-3 is-hidden-print">
        <%- include('_menu-licences'); -%>
      </div>
    </div>
  </div>
</div>

<%- include('_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/licence-licenceCategorySummary.min.js"></script>

<%- include('_footerB'); -%>
