<%- include('_header'); -%>

<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol>
    <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">
      <span class="icon is-small"><i class="fas fa-file" aria-hidden="true"></i></span>
      <span>Reports</span>
    </a></li>
  </ol>
</nav>

<h1 class="title is-1">
  <%= configFunctions.getProperty("settings.licenceAlias") %> Reports
</h1>

<%
  const todayDateString = dateTimeFns.dateToString(new Date());
%>

<div class="columns">
  <div class="column">
    <div class="panel">
      <h2 class="panel-heading"><%= configFunctions.getProperty("settings.licenceAliasPlural") %></h2>
      <div class="panel-block align-items-flex-start">
        <div class="has-text-centered my-2 ml-2 mr-3">
          <span class="icon has-text-info">
            <i class="fas fa-2x fa-file" aria-hidden="true"></i>
          </span><br />
          <span class="tag is-info">CSV</span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless">Daily Transactions</h3>
          <form class="mt-2" action="<%= urlPrefix %>/reports/licenceTransactions-byDate" method="get">
            <div class="field has-addons">
              <div class="control has-icons-left">
                <input class="input" name="transactionDateString" type="date" value="<%= todayDateString %>" max="<%= todayDateString %>" aria-label="Transaction Date" required />
                <span class="icon is-small is-left">
                  <i class="fas fa-calendar" aria-hidden="true"></i>
                </span>
              </div>
              <div class="control">
                <button class="button is-primary" type="submit">
                  Export
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/licences-formatted" download>
        <div class="has-text-centered my-2 ml-2 mr-3">
          <span class="icon has-text-info">
            <i class="fas fa-2x fa-file" aria-hidden="true"></i>
          </span><br />
          <span class="tag is-info">CSV</span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless">Full <%= configFunctions.getProperty("settings.licenceAlias") %> List</h3>
          <p>
            All active <%= configFunctions.getProperty("settings.licenceAliasPlural").toLowerCase() %>.
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="panel">
      <h2 class="panel-heading">Table Exports</h2>
      <div class="panel-block">
        <div class="message is-info">
          <p class="message-body is-size-7">
            Note that table exports are full, unfiltered, and unformatted exports.
            They may contain deleted records that have not been fully purged.
          </p>
        </div>
      </div>
      <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/licences-all" download>
        <div class="has-text-centered my-2 ml-2 mr-3">
          <span class="icon has-text-info">
            <i class="fas fa-2x fa-table" aria-hidden="true"></i>
          </span><br />
          <span class="tag is-info">CSV</span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless">Full Licences Table</h3>
          <p>
            All the data from the Licences table unfiltered.
          </p>
        </div>
      </a>
      <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/licenceTransactions-all" download>
        <div class="has-text-centered my-2 ml-2 mr-3">
          <span class="icon has-text-info">
            <i class="fas fa-2x fa-table" aria-hidden="true"></i>
          </span><br />
          <span class="tag is-info">CSV</span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless">Full LicenceTransactions Table</h3>
          <p>
            All the data from the LicenceTransactions table unfiltered.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>

<%- include('_footerA'); -%>
<%- include('_footerB'); -%>
