<%- include('_header'); -%>

<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol>
    <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">
      <span class="icon is-small"><i class="fas fa-file" aria-hidden="true"></i></span>
      <span>Reports</span>
    </a></li>
  </ol>
</nav>

<h1 class="title is-1">
  <%= configFunctions.getConfigProperty("settings.licenceAlias") %> Reports
</h1>

<%
  const todayDate = new Date();
  const todayDateString = dateTimeFns.dateToString(todayDate);

  const nearFutureDate = new Date(todayDate.getTime() + (86400 * 1000 * 7));
  const nearFutureDateString = dateTimeFns.dateToString(nearFutureDate);
%>

<div class="columns">
  <div class="column">
    <div class="panel">
      <h2 class="panel-heading"><%= configFunctions.getConfigProperty("settings.licenceAliasPlural") %></h2>
      <div class="panel-block align-items-flex-start">
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" title="CSV">
            <i class="fas fa-fw fa-2x fa-file-csv" aria-hidden="true"></i>
          </span>
        </div>
        <div class="is-flex-grow-1">
          <h3 class="title is-5 is-marginless">Transaction Log</h3>
          <form class="mt-2" action="<%= urlPrefix %>/reports/licenceTransactions-byDate" method="get">
            <div class="field has-addons">
              <div class="control is-expanded has-icons-left">
                <input class="input" name="transactionDateString" type="date" value="<%= todayDateString %>" max="<%= nearFutureDateString %>" aria-label="Transaction Date" />
                <span class="icon is-small is-left" aria-hidden="true">
                  <i class="fas fa-calendar"></i>
                </span>
              </div>
              <div class="control">
                <button class="button is-primary" type="submit">
                  Export
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel-block align-items-flex-start">
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" title="CSV">
            <i class="fas fa-fw fa-2x fa-file-csv" aria-hidden="true"></i>
          </span>
        </div>
        <div class="is-flex-grow-1">
          <h3 class="title is-5 is-marginless">
            Full <%= configFunctions.getConfigProperty("settings.licenceAlias") %> List
          </h3>
          <p>
            All active <%= configFunctions.getConfigProperty("settings.licenceAliasPlural").toLowerCase() %>.
          </p>
          <form class="mt-2" action="<%= urlPrefix %>/reports/licences-formatted" method="get">
            <div class="field has-addons">
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="issued" aria-label="Issued Status">
                    <option value="">(All Licences)</option>
                    <option value="true">Issued <%= configFunctions.getConfigProperty("settings.licenceAliasPlural") %> Only</option>
                    <option value="false">Unissued <%= configFunctions.getConfigProperty("settings.licenceAliasPlural") %></option>
                  </select>
                </div>
              </div>
              <div class="control">
                <button class="button is-primary" type="submit">
                  Export
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel-block align-items-flex-start">
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" title="CSV">
            <i class="fas fa-fw fa-2x fa-file-csv" aria-hidden="true"></i>
          </span>
        </div>
        <div class="is-flex-grow-1">
          <h3 class="title is-5 is-marginless"><%= configFunctions.getConfigProperty("settings.licenceAlias") %> Details by <%= configFunctions.getConfigProperty("settings.licenceAlias") %> Category</h3>
          <form class="mt-2" action="<%= urlPrefix %>/reports/licences-byLicenceCategory" method="get">
            <div class="field has-addons">
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="licenceCategoryKey" aria-label="<%= configFunctions.getConfigProperty("settings.licenceAlias") %> Category">
                    <% for (const licenceCategory of licenceCategories) { %>
                      <option value="<%= licenceCategory.licenceCategoryKey %>">
                        <%= licenceCategory.licenceCategory %>
                      </option>
                    <% } %>
                  </select>
                </div>
              </div>
              <div class="control">
                <button class="button is-primary" type="submit">
                  Export
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% if (configFunctions.getConfigProperty("customReports").length > 0) { %>
      <div class="panel">
        <h2 class="panel-heading">Custom Reports</h2>
        <% for (const customReport of configFunctions.getConfigProperty("customReports")) { %>
          <% uid = stringFns.getUID(); %>
          <a class="panel-block align-items-flex-start"
            href="<%= urlPrefix %>/reports/<%= customReport.reportName %>"
            aria-labelledby="h--<%= uid %>"
            aria-describedby="p--<%= uid %>">
            <div class="has-text-centered my-2 ml-2 mr-4">
              <span class="icon has-text-info" aria-hidden="true">
                <i class="fas fa-fw fa-2x fa-file-csv"></i>
              </span>
            </div>
            <div>
              <h3 class="title is-5 is-marginless" id="h--<%= uid %>">
                <%= customReport.reportTitle %>
              </h3>
              <p id="p--<%= uid %>">
                <%= customReport.reportDescription %>
              </p>
            </div>
          </a>
        <% } %>
      </div>
    <% } %>
  </div>
  <div class="column">
    <div class="panel">
      <h2 class="panel-heading">Interactive Reports</h2>
      <% uid = stringFns.getUID(); %>
      <a class="panel-block align-items-flex-start"
        href="<%= urlPrefix %>/licences/licenceCategorySummary"
        aria-labelledby="h--<%= uid %>"
        aria-describedby="p--<%= uid %>">
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" aria-hidden="true">
            <i class="fas fa-fw fa-2x fa-desktop"></i>
          </span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless" id="h--<%= uid %>">
            <%= configFunctions.getConfigProperty("settings.licenceAlias") %> Category Summary
          </h3>
          <p id="p--<%= uid %>">
            Break down <%= configFunctions.getConfigProperty("settings.licenceAlias").toLowerCase() %> categories by date range.
          </p>
        </div>
      </a>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="level is-mobile">
          <div class="level-left">
            <h2 class="level-item has-text-weight-bold">Table Exports</h2>
          </div>
          <div class="level-right">
            <div class="level-item">
              <button class="button is-small is-white has-tooltip-left is-panel-toggle-button" data-tooltip="Toggle Table Exports" data-cy="panel-toggle" aria-label="Show/Hide Exports">
                <span class="icon" aria-hidden="true">
                  <i class="fas fa-angle-down"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-block is-hidden">
        <div class="message is-info">
          <p class="message-body is-size-7">
            Note that table exports are full, unfiltered, and unformatted exports.
            They may contain deleted records that have not been fully purged.
          </p>
        </div>
      </div>
      <% uid = stringFns.getUID(); %>
      <a class="panel-block is-hidden align-items-flex-start"
        href="<%= urlPrefix %>/reports/licences-all"
        aria-labelledby="h--<%= uid %>"
        aria-describedby="p--<%= uid %>"
        download>
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" title="CSV">
            <i class="fas fa-fw fa-2x fa-table" aria-hidden="true"></i>
          </span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless" id="h--<%= uid %>">Full Licences Table</h3>
          <p id="p--<%= uid %>">
            All the data from the Licences table unfiltered.
          </p>
        </div>
      </a>
      <% uid = stringFns.getUID(); %>
      <a class="panel-block is-hidden align-items-flex-start"
        href="<%= urlPrefix %>/reports/licenceAdditionalFees-all"
        aria-labelledby="h--<%= uid %>"
        aria-describedby="p--<%= uid %>"
        download>
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" title="CSV">
            <i class="fas fa-fw fa-2x fa-table" aria-hidden="true"></i>
          </span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless" id="h--<%= uid %>">Full LicenceAdditionalFees Table</h3>
          <p id="p--<%= uid %>">
            All the data from the LicenceAdditionalFees table unfiltered.
          </p>
        </div>
      </a>
      <% uid = stringFns.getUID(); %>
      <a class="panel-block is-hidden align-items-flex-start"
        href="<%= urlPrefix %>/reports/licenceApprovals-all"
        aria-labelledby="h--<%= uid %>"
        aria-describedby="p--<%= uid %>"
        download>
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" title="CSV">
            <i class="fas fa-fw fa-2x fa-table" aria-hidden="true"></i>
          </span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless" id="h--<%= uid %>">Full LicenceApprovals Table</h3>
          <p id="p--<%= uid %>">
            All the data from the LicenceApprovals table unfiltered.
          </p>
        </div>
      </a>
      <% uid = stringFns.getUID(); %>
      <a class="panel-block is-hidden align-items-flex-start"
        href="<%= urlPrefix %>/reports/licenceFields-all"
        aria-labelledby="h--<%= uid %>"
        aria-describedby="p--<%= uid %>"
        download>
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" title="CSV">
            <i class="fas fa-fw fa-2x fa-table" aria-hidden="true"></i>
          </span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless" id="h--<%= uid %>">Full LicenceFields Table</h3>
          <p id="p--<%= uid %>">
            All the data from the LicenceFields table unfiltered.
          </p>
        </div>
      </a>
      <% uid = stringFns.getUID(); %>
      <a class="panel-block is-hidden align-items-flex-start"
        href="<%= urlPrefix %>/reports/licenceTransactions-all"
        aria-labelledby="h--<%= uid %>"
        aria-describedby="p--<%= uid %>"
        download>
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" title="CSV">
            <i class="fas fa-fw fa-2x fa-table" aria-hidden="true"></i>
          </span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless" id="h--<%= uid %>">Full LicenceTransactions Table</h3>
          <p id="p--<%= uid %>">
            All the data from the LicenceTransactions table unfiltered.
          </p>
        </div>
      </a>
      <% uid = stringFns.getUID(); %>
      <a class="panel-block is-hidden align-items-flex-start"
        href="<%= urlPrefix %>/reports/relatedLicences-all"
        aria-labelledby="h--<%= uid %>"
        aria-describedby="p--<%= uid %>"
        download>
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" title="CSV">
            <i class="fas fa-fw fa-2x fa-table" aria-hidden="true"></i>
          </span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless" id="h--<%= uid %>">Full RelatedLicences Table</h3>
          <p id="p--<%= uid %>">
            All the data from the RelatedLicences table unfiltered.
          </p>
        </div>
      </a>
      <% uid = stringFns.getUID(); %>
      <a class="panel-block is-hidden align-items-flex-start"
        href="<%= urlPrefix %>/reports/licenceCategories-all"
        aria-labelledby="h--<%= uid %>"
        aria-describedby="p--<%= uid %>"
        download>
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" title="CSV">
            <i class="fas fa-fw fa-2x fa-table" aria-hidden="true"></i>
          </span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless" id="h--<%= uid %>">Full LicenceCategories Table</h3>
          <p id="p--<%= uid %>">
            All the data from the LicenceCategories table unfiltered.
          </p>
        </div>
      </a>
      <% uid = stringFns.getUID(); %>
      <a class="panel-block is-hidden align-items-flex-start"
        href="<%= urlPrefix %>/reports/licenceCategoryAdditionalFees-all"
        aria-labelledby="h--<%= uid %>"
        aria-describedby="p--<%= uid %>"
        download>
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" title="CSV">
            <i class="fas fa-fw fa-2x fa-table" aria-hidden="true"></i>
          </span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless" id="h--<%= uid %>">Full LicenceCategoryAdditionalFees Table</h3>
          <p id="p--<%= uid %>">
            All the data from the LicenceCategoryAdditionalFees table unfiltered.
          </p>
        </div>
      </a>
      <% uid = stringFns.getUID(); %>
      <a class="panel-block is-hidden align-items-flex-start"
        href="<%= urlPrefix %>/reports/licenceCategoryApprovals-all"
        aria-labelledby="h--<%= uid %>"
        aria-describedby="p--<%= uid %>"
        download>
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" title="CSV">
            <i class="fas fa-fw fa-2x fa-table" aria-hidden="true"></i>
          </span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless" id="h--<%= uid %>">Full LicenceCategoryApprovals Table</h3>
          <p id="p--<%= uid %>">
            All the data from the LicenceCategoryApprovals table unfiltered.
          </p>
        </div>
      </a>
      <% uid = stringFns.getUID(); %>
      <a class="panel-block is-hidden align-items-flex-start"
        href="<%= urlPrefix %>/reports/licenceCategoryFees-all"
        aria-labelledby="h--<%= uid %>"
        aria-describedby="p--<%= uid %>"
        download>
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" title="CSV">
            <i class="fas fa-fw fa-2x fa-table" aria-hidden="true"></i>
          </span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless" id="h--<%= uid %>">Full LicenceCategoryFees Table</h3>
          <p id="p--<%= uid %>">
            All the data from the LicenceCategoryFees table unfiltered.
          </p>
        </div>
      </a>
      <% uid = stringFns.getUID(); %>
      <a class="panel-block is-hidden align-items-flex-start"
        href="<%= urlPrefix %>/reports/licenceCategoryFields-all"
        aria-labelledby="h--<%= uid %>"
        aria-describedby="p--<%= uid %>"
        download>
        <div class="has-text-centered my-2 ml-2 mr-4">
          <span class="icon has-text-info" title="CSV">
            <i class="fas fa-fw fa-2x fa-table" aria-hidden="true"></i>
          </span>
        </div>
        <div>
          <h3 class="title is-5 is-marginless" id="h--<%= uid %>">Full LicenceCategoryFields Table</h3>
          <p id="p--<%= uid %>">
            All the data from the LicenceCategoryFields table unfiltered.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>

<%- include('_footerA'); -%>
<script src="<%= urlPrefix %>/javascripts/report-search.min.js"></script>
<%- include('_footerB'); -%>
